/.idea/*
/hello-rust/target/*
/hello-rltk/hello-rltk-1/target/*
/hello-rltk/hello-rltk-2/target/*
/hello-rltk/hello-rltk-3/target/*
/hello-rltk/hello-rltk-4/target/*
/hello-rltk/hello-rltk-5/target/*
/hello-rltk/hello-rltk-6/target/*
/hello-rltk/hello-rltk-7/target/*
/hello-rltk/hello-rltk-8/target/*
/hello-rltk/hello-rltk-9/target/*
/hello-rltk/hello-rltk-10/target/*
/hello-rltk/hello-rltk-11/target/*
/hello-rltk/hello-rltk-12/target/*
/hello-rltk/hello-rltk-13/target/*
/hello-rltk/hello-rltk-14/target/*
/hello-rltk/hello-rltk-15/target/*
/hello-rltk/hello-rltk-16/target/*
/hello-rltk/hello-rltk-17/target/*
/hello-rltk/hello-rltk-18/target/*
/hello-rltk/hello-rltk-19/target/*
/hello-rltk/hello-rltk-20/target/*
/hello-lab/target/*

