/.idea/*
/hello-rust/target/*
/hello-rltk-1/target/*
/hello-rltk-2/target/*
/hello-rltk-3/target/*
/hello-rltk-4/target/*
/hello-rltk-5/target/*
/hello-rltk-6/target/*
/hello-rltk-7/target/*
/hello-rltk-8/target/*
/hello-rltk-9/target/*

